# Python Lists Tuples, Sets, Dictionaries

[CheatCheet](https://www.codecademy.com/learn/paths/data-science/tracks/dspath-python-lists-and-loops/modules/dspath-lists/cheatsheet)

# Lists
## Python List 
### What is a list?

A list is **an ordered** set of objects in Python.
Suppose we want to make a list of the heights of students in a class:

* Jenny is 61 inches tall
* Alexus is 70 inches tall
* Sam is 67 inches tall
* Grace is 64 inches tall

In Python, we can create a variable called heights to store these numbers:

In [34]:
heights = [61, 70, 67, 64]
print(heights)

[61, 70, 67, 64]

**Notice that:**

1) A list begins and ends with square brackets ([ and ]).

2) Each item (i.e., 67 or 70) is separated by a comma (,)

3) It’s considered good practice to insert a space () after each comma, but your code will run just fine if you forget the space.

##Lists II
###Lists can contain more than just numbers.

Let’s revisit our height example:
* Jenny is 61 inches tall
* Alexus is 70 inches tall
* Sam is 67 inches tall
* Grace is 64 inches tall

We can make a list of strings that contain the students’ names:

In [15]:
names = ['Jenny', 'Alexus', 'Sam', 'Grace']
print(names)

['Jenny', 'Alexus', 'Sam', 'Grace']

We can also *combine multiple data types* in one list. For example, this list contains both a string and an integer:

In [9]:
mixed_list = ['Jenny', 61]
print(mixed_list)

['Jenny', 61]

## List of Lists
We’ve seen that the items in a list can be numbers or strings. They can also be other lists!

Once more, let’s return to our class height example:

* Jenny is 61 inches tall
* Alexus is 70 inches tall
* Sam is 67 inches tall
* Grace is 64 inches tall

Previously, we saw that we could create a list representing both Jenny’s name and height:

In [10]:
jenny = ['Jenny', 61]
print(jenny)

['Jenny', 61]

We can put several of these lists into one list, such that each entry in the list represents a student and their height:

In [13]:
heights = [['Jenny', 61], ['Alexus', 70], ['Sam', 67], ['Grace', 64]]
print(heights)

[['Jenny', 61], ['Alexus', 70], ['Sam', 67], ['Grace', 64]]

## Zip
Again, let’s return to our class height example:

* Jenny is 61 inches tall
* Alexus is 70 inches tall
* Sam is 67 inches tall
* Grace is 64 inches tall

Suppose that we already had a list of names and a list of heights:

In [0]:
names = ['Jenny', 'Alexus', 'Sam', 'Grace']
heights = [61, 70, 67, 65]

If we wanted to create a list of lists that paired each name with a height, we could use the command **zip. zip takes two (or more) lists as inputs and returns an object that contains a list of pairs.** Each pair contains one element from each of the inputs. You won’t be able to see much about this object from just printing it:

In [18]:
names_and_heights = zip(names, heights)
print(names_and_heights)
# it will return the location of this object in memory. Output would 
#look something like this:

<zip object at 0x7f9d18c09a48>

**To see the nested lists, you can convert the zip object to a list first:**

In [19]:
print(list(names_and_heights))

[('Jenny', 61), ('Alexus', 70), ('Sam', 67), ('Grace', 65)]

In [20]:
names = ['Jenny', 'Alexus', 'Sam', 'Grace']
dogs_names = ['Elphonse', 'Dr. Doggy DDS', 'Carter', 'Ralph']

names_and_dogs_names = zip(names,dogs_names)

print(list(names_and_dogs_names))

[('Jenny', 'Elphonse'), ('Alexus', 'Dr. Doggy DDS'), ('Sam', 'Carter'), ('Grace', 'Ralph')]

## Empty Lists
A list doesn’t have to contain anything! You can create an empty list like this:

In [0]:
empty_list = []

Why would we create an empty list?

*Usually, it’s because we’re planning on filling it later based on some other input. We’ll talk about two ways of filling up a list in the next exercise.*

## Growing a List: Append

We can add a single element to a list using `.append().` For example, suppose we have an empty list called `empty_list`:

In [21]:
empty_list = []
empty_list.append(1)
print(empty_list)

[1]

When we use `.append()` on a list that already has elements, our new element is added to the end of the list:

In [22]:
# Create a list
my_list = [1, 2, 3]
# Append a number
my_list.append(5)
print(my_list) # check the result

[1, 2, 3, 5]

It’s important to remember that `.append()` **comes after the list.** This is different from functions like print, which come before.

In [24]:
orders = ['daisies', 'periwinkle']
print(orders)

['daisies', 'periwinkle']

In [25]:
orders.append('tulips')
orders.append('roses')
print(orders)

['daisies', 'periwinkle', 'tulips', 'roses']

## Growing a List: Plus (+)
When we want to add multiple items to a list, we can use + to combine two lists.

Below, we have a list of items sold at a bakery called 
`items_sold:`

In [28]:
items_sold = ['cake', 'cookie', 'bread']

# Suppose the bakery wants to start selling 'biscuit' and 'tart':

items_sold_new = items_sold + ['biscuit', 'tart']
print(items_sold_new)

['cake', 'cookie', 'bread', 'biscuit', 'tart']

## Range I
Often, we want to create a list of consecutive numbers. For example, suppose we want a list containing the numbers 0 through 9:

In [0]:
my_list = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

Typing out all of those numbers takes time and the more numbers we type, the more likely it is that we have a typo.

Python gives us an easy way of creating these lists using a function called range. The **function range takes a single input, and generates numbers starting at 0 and ending at the number before the input.** So, if we want the numbers from 0 through 9, we use range(10) because 10 is 1 greater than 9:

In [30]:
my_range = range(10)
>>> print(my_range)
>>> print(list(my_range))

range(0, 10)
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [32]:
list1 = range(9)
list2 = range(8)
print(list(list2))
print(list(list1))

[0, 1, 2, 3, 4, 5, 6, 7]
[0, 1, 2, 3, 4, 5, 6, 7, 8]

## Range II 
We can use range to generate more interesting lists.
By default, range creates a list starting at 0. However, **if we call range with two arguments, we can create a list that starts at a different number. For example, range(2, 9) would generate numbers starting at 2 and ending at 8 (just before 9):**

In [1]:
>>> my_list = range(2, 9)
>>> print(list(my_list))

[2, 3, 4, 5, 6, 7, 8]

With one or two arguments, range will create a list of consecutive numbers (i.e., each number is one greater than the previous number). **If we use a third argument, we can create a list that “skips” numbers.** For example, range(2, 9, 2) will give us a list where each number is 2 greater than the previous number up to 9 not including.

In [2]:
>>> my_range2 = range(2, 9, 2)
>>> print(list(my_range2))

[2, 4, 6, 8]

We can skip as many numbers as we want! In this example, we’ll start at 1 and skip 10 between each number until we get to 100:

In [3]:
>>> my_range3 = range(1, 100, 10)
>>> print(list(my_range3))

[1, 11, 21, 31, 41, 51, 61, 71, 81, 91]

Our list stops at 91 because the next number in the sequence would be 101, which is greater than 100 (our stopping point).

In [4]:
list1 = range(5, 15, 3)
print(list(list1))

[5, 8, 11, 14]

In [5]:
list2 = range(0, 40, 5)
print(list(list2))

[0, 5, 10, 15, 20, 25, 30, 35]

## Review
So far, we have learned: 

* How to create a list
* How to create a list of lists using zip
* How to add elements to a list using either .append() or +
* How to use range to create lists of integers

In [12]:
first_names = ['Ainsley', 'Ben', 'Chani', 'Depak']
age = []
# Depak’s age is 42. Use .append() to add 42 to age.
age.append(42)
print(age)
# Maria needs a list of the ages for all customers. Create a new list called 
#all_ages that adds age with the following list, containing the ages for 
#Ainsley, Ben, and Chani:
all_ages = [32,41,29] + age
print(all_ages)
# Create a new variable called name_and_age that combines first_names and 
#all_ages using zip.
name_and_age = zip(first_names, all_ages)
print(name_and_age)
print(list(name_and_age))

# Create a range object called ids with an id number for each customer.
# Since there are 4 customers, so id values should go from 0 to 3.
ids = range(0,4)
print(ids)

[42]
[32, 41, 29, 42]
<zip object at 0x7f9582d24908>
[('Ainsley', 32), ('Ben', 41), ('Chani', 29), ('Depak', 42)]
range(0, 4)

![Code Snippet](https://i.imgur.com/7d9S99q.png)

# Operations on Lists

Now that we know how to create a list, we can start working with existing lists of data.

In this lesson, you’ll learn how to:

* Get the length of a list
* Select subsets of a list (called slicing)
* Count the number of times that an element appears in a list
* Sort a list of items

## Length of a List
Often, we’ll need to find the number of items in a list, usually called its length.
We can do this **using the function len**. When we apply len to a list, we get the number of elements in that list:

In [13]:
my_list = [1, 2, 3, 4, 5]
print(len(my_list))

list1 = range(2, 20, 3)
list1_len = len(list1)
print(list1_len)

5
6

## Selecting List Elements I
Chris is interviewing candidates for a job. He will call each candidate in order, represented by a Python list:

In [0]:
calls = ['Ali', 'Bob', 'Cam', 'Doug', 'Ellie']

In Python, we call the order of an element in a list its index.

* Python lists are zero-indexed.
* This means that the first element in a list has index 0, rather than 1.

In this example, the element with index 2 is `Cam`.
We can select a single element from a list by using square brackets`([])` and the index of the list item. For example, if we wanted to select the third element from the list, we’d use `calls[2]`:

In [15]:
>>> print(calls[2])

Cam

In [16]:
employees = ['Michael', 'Dwight', 'Jim', 'Pam', 'Ryan', 'Andy', 'Robert']
index4 = employees[4]
print(len(employees))
# 7 
print(employees[6])
# Robert

7
Robert

## Selecting List Elements II
What if we want to select the last element of a list?

**We can use the index -1 to select the last item of a list,** even when we don’t know how many elements are in a list.
Consider the following list with 5 elements:

In [18]:
list1 = ['a', 'b', 'c', 'd', 'e']
# If we select the -1 element, we get the final element, 'e':
print(list1[-1])

e

This is the same as selecting the element with index 4:

In [19]:
print(list1[4])

e

In [20]:
shopping_list = ['eggs', 'butter', 'milk', 'cucumbers', 'juice', 'cereal']
print(len(shopping_list))
#6
last_element = shopping_list[-1]
element5 = shopping_list[5]
print(element5, last_element)
# cereal cereal

6
cereal cereal

## Slicing Lists
Suppose we have a list of letters:

`letters = ['a', 'b', 'c', 'd', 'e', 'f', 'g']`
Suppose we want to select from b through `f`.

We can do this using the following syntax: `letters[start:end]`, where:
* `start` is the index of the first element that we want to include in our selection. In this case, we want to start at b, which has index 1.
* **`end` is the index of one more than** the last index that we want to include. The last element we want is **f**, which has index 5, so `end` needs to be 6.`sublist = letters[1:6]`
* `print(sublist)` This example would yield:`['b', 'c', 'd', 'e', 'f']` 

Notice that the element at index 6 (which is g) is not included in our selection.
Creating a selection from a list is called slicing.

**Creating a selection from a list is called slicing.**

In [21]:
suitcase = ['shirt', 'shirt', 'pants', 'pants', 'pajamas', 'books']
beginning = suitcase[0:4]
print(beginning)
# ['shirt', 'shirt', 'pants', 'pants']
middle = beginning[2:4]
print(middle)
# ['pants', ‘pants']

['shirt', 'shirt', 'pants', 'pants']
['pants', 'pants']

## Slicing Lists II
If we want to select the first 3 elements of a list, we could use the following code:

In [22]:
>>> fruits = ['apple', 'banana', 'cherry', 'date']
>>> print(fruits[0:3])

['apple', 'banana', 'cherry']

**When starting at the beginning of the list, it is also valid to omit the 0:**

In [23]:
>>> print(fruits[:3])

['apple', 'banana', 'cherry']

We can do something similar when **selecting the last few items of a list:**

In [24]:
>>> print(fruits[2:])

['cherry', 'date']

If we want to **select the last 3 elements** of fruits, we can also use this syntax:

In [25]:
>>> print(fruits[-3:])

['banana', 'cherry', 'date']

We can use **negative indexes to count backward** from the last element.

In [26]:
suitcase = ['shirt', 'shirt', 'pants', 'pants', 'pajamas', 'books']
start = suitcase[:3]
end = suitcase[-2:]

print(start)
print(end)

['shirt', 'shirt', 'pants']
['pajamas', 'books']

## Counting elements in a list
Suppose we have a list called letters that represents the letters in the word “Mississippi”:

In [28]:
letters = ['m', 'i', 's', 's', 'i', 's', 's', 'i', 'p', 'p', 'i']
# If we want to know how many times i appears in this word, 
#we can use the function count:
num_i = letters.count('i')
print(num_i)

4

In [29]:
votes = ['Jake', 'Jake', 'Laurie', 'Laurie', 'Laurie', 'Jake', 'Jake', 
         'Jake', 'Laurie', 'Cassie', 'Cassie', 'Jake', 'Jake', 'Cassie', 
         'Laurie', 'Cassie', 'Jake', 'Jake', 'Cassie', 'Laurie']

jake_votes = votes.count('Jake')
print(jake_votes)

9

## Sorting Lists I
Sometimes, we want to sort a list in either numerical (1, 2, 3, …) or alphabetical (a, b, c, …) order.

We can sort a list in place using .`sort()`. Suppose that we have a list of names:

In [30]:
names = ['Xander', 'Buffy', 'Angel', 'Willow', 'Giles']
print(names)

['Xander', 'Buffy', 'Angel', 'Willow', 'Giles']

Now we apply `.sort()`:

In [31]:
names.sort()
print(names)

['Angel', 'Buffy', 'Giles', 'Willow', 'Xander']

Notice **that sort goes after our list, names**. If we try sort(names), we will get a NameError.

**sort does not return anything. So, if we try to assign names.sort() to a variable, our new variable would be None:**

In [32]:
sorted_names = names.sort()
print(sorted_names)

None

Although `sorted_names` is `None`, the line `sorted_names = names.sort()` still edited names:

In [33]:
>>> print(names)

['Angel', 'Buffy', 'Giles', 'Willow', 'Xander']

## Sorting Lists II

A second way of sorting a list is to use sorted. sorted is different from .sort() in several ways:

* It comes before a list, instead of after.
* **It generates a new list**
<br>
<br>
Let’s return to our list of names:

In [0]:
names2 = ['Xander', 'Buffy', 'Angel', 'Willow', 'Giles']

Using sorted, we can create a new list, called sorted_names:

In [39]:
sorted_names = sorted(names2)
print(sorted_names)

['Angel', 'Buffy', 'Giles', 'Willow', 'Xander']

Note that using sorted did not change names:

In [40]:
print(names2)

['Xander', 'Buffy', 'Angel', 'Willow', 'Giles']

In [41]:
games = ['Portal', 'Minecraft', 'Pacman', 'Tetris', 'The Sims', 'Pokemon']
games_sorted = sorted(games)
print(games)
print(games_sorted)

['Portal', 'Minecraft', 'Pacman', 'Tetris', 'The Sims', 'Pokemon']
['Minecraft', 'Pacman', 'Pokemon', 'Portal', 'Tetris', 'The Sims']

## Review
In this lesson, we learned how to:

* Get the length of a list
* Select subsets of a list (called slicing)
* Count the number of times that an element appears in a list
* Sort a list of items

In [42]:
inventory = ['twin bed', 'twin bed', 'headboard', 'queen bed', 'king bed', 
             'dresser', 'dresser', 'table', 'table', 'nightstand', 'nightstand',
             'king bed', 'king bed', 'twin bed', 'twin bed', 'sheets', 'sheets',
             'pillow', 'pillow']

inventory_len = len(inventory)
print(inventory_len)
# 19 

first = inventory[0]
last = inventory[-1]

inventory_2_6 = inventory[2:6]

first_3 = inventory[:3]
# How many 'twin bed's are in inventory? Save your answer to twin_beds.
twin_beds = inventory.count('twin bed')
print(twin_beds)
# 4 
inventory.sort()
sorted_imventory = sorted(inventory)
print(sorted_imventory)
# ['dresser', 'dresser', 'headboard', 'king bed', 'king bed', 'king bed', 
#'nightstand', 'nightstand', 'pillow', 'pillow', 'queen bed', 'sheets', 
#'sheets', 'table', 'table', 'twin bed', 'twin bed', 'twin bed', 'twin bed']

19
4
['dresser', 'dresser', 'headboard', 'king bed', 'king bed', 'king bed', 'nightstand', 'nightstand', 'pillow', 'pillow', 'queen bed', 'sheets', 'sheets', 'table', 'table', 'twin bed', 'twin bed', 'twin bed', 'twin bed']

In [45]:
mylist = ['a', 'b', 'c', 'd', 'e']
print(mylist[1:3])

['b', 'c']

# Len's Slice Exersise

You work at Len’s Slice, a new pizza joint in the neighborhood. You are going to use your knowledge of Python lists to organize some of your sales data.

To keep track of the kinds of pizzas you sell, create a list called toppings that holds the following:

    pepperoni
    pineapple
    cheese
    sausage
    olives
    anchovies
    mushrooms

In [0]:
toppings = ['pepperoni', 'pineapple', 'cheese', 'sausage', 'olives', 'anchovies', 'mushrooms']

To keep track of how much each kind of pizza slice costs, create a list called prices that holds:

    2
    6
    1
    3
    2
    7
    2

In [0]:
prices = [2,6,1,3,2,7,2]

Find the length of the `toppings` list and store it in a variable called `num_pizzas`.

In [0]:
num_pizzas = len(toppings)

Print the string `"We sell X different kinds of pizza!"` with `num_pizzas` where the `X` is.

In [50]:
print('We sell %s different kinds of pizza!' %num_pizzas)

We sell 7 different kinds of pizza!

Use zip to combine the two lists into a list called pizzas that has the structure:

[(price_0, topping_0), (price_1, topping_1), (price_2, topping_2), ...]

In [54]:
pizzas = list(zip(prices, toppings))
print(pizzas)

[(2, 'pepperoni'), (6, 'pineapple'), (1, 'cheese'), (3, 'sausage'), (2, 'olives'), (7, 'anchovies'), (2, 'mushrooms')]

Sort pizzas so that the pizzas with the lowest prices are at the start of the list.

Store the first element of `pizzas` in a variable called `cheapest_pizza`.

In [56]:
pizzas_by_order = sorted(pizzas)
print(pizzas_by_order)

[(1, 'cheese'), (2, 'mushrooms'), (2, 'olives'), (2, 'pepperoni'), (3, 'sausage'), (6, 'pineapple'), (7, 'anchovies')]

Store the first element of pizzas in a variable called `cheapest_pizza`.

In [57]:
cheapest_pizza = pizzas_by_order[:1]
print(cheapest_pizza)

[(1, 'cheese')]

A man in a business suit walks in and shouts “I will have your MOST EXPENSIVE pizza!”

Get the last item of the `pizzas` list and store it in a variable called `priciest_pizza`.

In [58]:
priciest_pizza = pizzas_by_order[-1]
print(priciest_pizza)

(7, 'anchovies')

Three mice walk into the store. They don’t have much money (they’re mice), but they do each want different pizzas.

Slice the pizzas list and store the 3 lowest cost pizzas in a list called `three_cheapest`.

In [61]:
three_cheapest = pizzas_by_order[:3]
print(three_cheapest)

[(1, 'cheese'), (2, 'mushrooms'), (2, 'olives')]

Your boss wants you to do some research on $2 slices.

Count the number of occurrences of 2 in the prices list, and store the result in a variable called `num_two_dollar_slices`. Print it out.

In [64]:
num_two_dollar_slices = prices.count(2)
print(num_two_dollar_slices)

3

# Code Challenge:

Write a function named `larger_list` that has two parameters named `lst1` and `lst2`.

The function should return the last element of the list that contains more elements. If both lists are the same size, then return the last element of lst1.

In [65]:
#Write your function here
def larger_list(lst1, lst2):
  if len(lst1) >= len(lst2):
    return lst1[-1]
  else:
    return lst2[-1]

#Uncomment the line below when your function is done
print(larger_list([4, 10, 2, 5], [-10, 2, 5, 10]))

5

Create a function named `more_than_n` that has three parameters named `lst`, `item`, and `n`.

The function should return True if item appears in the list more than n times. The function should return False otherwise.

In [66]:
#Write your function here
def more_than_n(lst, item, n):
  if lst.count(item) > n:
    return True
  else:
    return False

#Uncomment the line below when your function is done
print(more_than_n([2, 4, 6, 2, 3, 2, 1, 2], 2, 3))

True

Create a function called append_size that has one parameter named lst.

The function should append the size of lst (inclusive) to the end of lst. The function should then return this new list.

For example, if lst was `[23, 42, 108]`, the function should return `[23, 42, 108, 3]` because the size of lst was originally 3.

In [70]:
def append_size(lst):
  lst.append(len(lst))
  return lst

  #Uncomment the line below when your function is done
print(append_size([23, 42, 108]))

[23, 42, 108, 3]

Write a function named combine_sort that has two parameters named `lst1` and `lst2`.

The function should combine these two lists into one new list and sort the result. Return the new sorted list.

In [77]:
def combine_sort(lst1, lst2):
  combined = lst1 + lst2 
  sortedList = sorted(combined)
  return sortedList

print(combine_sort([4, 10, 2, 5], [-10, 2, 5, 10]))

[-10, 2, 2, 4, 5, 5, 10, 10]

Write a function named append_sum that has one parameter — a list named named lst.

The function should add the last two elements of lst together and append the result to lst. It should do this process three times and then return lst.

For example, if lst started as `[1, 1, 2]`, the final result should be `[1, 1, 2, 3, 5, 8]`.

In [78]:
#Write your function here
def append_sum(lst):
  lst.append(lst[-1] + lst[-2])
  lst.append(lst[-1] + lst[-2])
  lst.append(lst[-1] + lst[-2])
  return lst

#Uncomment the line below when your function is done
print(append_sum([1, 1, 2]))

[1, 1, 2, 3, 5, 8]

# Advanced Python Code Challenges: Lists

Create a function `called every_three_nums` that has one parameter named `start`.

The function should return a list of every third number between start and 100 (inclusive). For example, every_three_nums(91) should return the list `[91, 94, 97, 100]`. If start is greater than 100, the function should return an empty list.

In [79]:
#Write your function here
def every_three_nums(start):
  return list(range(start, 101, 3))

#Uncomment the line below when your function is done
print(every_three_nums(91))

[91, 94, 97, 100]

Create a function named `remove_middle` which has three parameters `named lst`, `start`, and `end`.

The function should return a list where all elements in lst with an index between start and end (inclusive) have been removed.

For example, the following code should return `[4, 23, 42] `because elements at indices 1, 2, and 3 have been removed:

remove_middle`([4, 8 , 15, 16, 23, 42], 1, 3)`

In [80]:
#Write your function here
def remove_middle(lst, start, end):
  return lst[:start] + lst[end+1:]

#Uncomment the line below when your function is done
print(remove_middle([4, 8, 15, 16, 23, 42], 1, 3))

[4, 23, 42]

Create a function named `more_frequent_item` that has three parameters `named lst`, `item1`, and `item2`.

Return either item1 or item2 depending on which item appears more often in lst.

If the two items appear the same number of times, return item1.

In [81]:
#Write your function here
def more_frequent_item(lst, item1, item2):
  if lst.count(item1) >= lst.count(item2):
    return item1
  else:
    return item2

#Uncomment the line below when your function is done
print(more_frequent_item([2, 3, 3, 2, 3, 2, 3, 2, 3], 2, 3))

3

Create a function named `double_index` that has two parameters: a list named `lst` and a single number named `index`.

The function should return a new list where all elements are the same as in lst except for the element at index. The element at index should be double the value of the element at index of the original lst.

If index is not a valid index, the function should return the original list.

For example, the following code should return `[1,2,6,4] `because the element at index 2 has been doubled:

`double_index([1, 2, 3, 4], 2)`

After writing your function, un-comment the call to the function that we’ve provided for you to test your results.

In [82]:
#Write your function here
def double_index(lst, index):
  # Checks to see if index is too big
  if index >= len(lst):
    return lst
  else:
    # Gets the original list up to index
    new_lst = lst[0:index]
 # Adds double the value at index to the new list 
  new_lst.append(lst[index]*2)
  #  Adds the rest of the original list
  new_lst = new_lst + lst[index+1:]
  return new_lst

#Uncomment the line below when your function is done
print(double_index([3, 8, -10, 12], 2))

[3, 8, -20, 12]

Create a function called `middle_element` that has one parameter named `lst`.

If there are an odd number of elements in lst, the function should return the middle element. If there are an even number of elements, the function should return the average of the middle two elements.

In [83]:
#Write your function here
def middle_element(lst):
  if len(lst) % 2 == 0:
    sum = lst[int(len(lst)/2)] + lst[int(len(lst)/2) - 1]
    return sum / 2
  else:
    return lst[int(len(lst)/2)]

#Uncomment the line below when your function is done
print(middle_element([5, 2, -10, -4, 4, 5]))

-7.0

# Tuple 
A tuple is a collection which is ordered and unchangeable. In Python tuples are written with round brackets.

In [84]:
thistuple = ("apple", "banana", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')

##Access Tuple Items

You can access tuple items by referring to the index number, inside square brackets:

In [85]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[1])

banana

## Negative Indexing

Negative indexing means beginning from the end, `-1` refers to the last item, `-2` refers to the second last item etc.

In [86]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[-1])

cherry

## Range of Indexes
You can specify a range of indexes by specifying where to start and where to end the range.

When specifying a range, the return value will be a new tuple with the specified items.

In [87]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:5])

('cherry', 'orange', 'kiwi')

## Range of Negative Indexes
Specify negative indexes if you want to start the search from the end of the tuple:

In [88]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[-4:-1])

('orange', 'kiwi', 'melon')

## Change Tuple Values
Once a tuple is created, you cannot change its values. Tuples are unchangeable, or immutable as it also is called.

But there is a workaround. You can convert the tuple into a list, change the list, and convert the list back into a tuple.

In [89]:
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

('apple', 'kiwi', 'cherry')

## Loop Through a Tuple
You can loop through the tuple items by using a `for` loop.

In [90]:
thistuple = ("apple", "banana", "cherry")
for x in thistuple:
  print(x)

apple
banana
cherry

## Check if Item Exists
To determine if a specified item is present in a tuple use the `in` keyword:

In [91]:
thistuple = ("apple", "banana", "cherry")
if "apple" in thistuple:
  print("Yes, 'apple' is in the fruits tuple")

Yes, 'apple' is in the fruits tuple

## Tuple Length
To determine how many items a tuple has, use the `len() `method:

In [92]:
thistuple = ("apple", "banana", "cherry")
print(len(thistuple))

3

## Add Items
You cannot add items to a tuple:

In [93]:
thistuple = ("apple", "banana", "cherry")
thistuple[3] = "orange" # This will raise an error
print(thistuple)

TypeError: ignored

# Create Tuple With One Item
To create a tuple with only one item, you have to add a comma after the item, otherwise Python will not recognize it as a tuple.

In [94]:
thistuple = ("apple",)
print(type(thistuple))

#NOT a tuple
thistuple = ("apple")
print(type(thistuple))

<class 'tuple'>
<class 'str'>

In [95]:
 thistuple = ("apple", "banana", "cherry")
del thistuple
print(thistuple) #this will raise an error because the tuple no longer exists

NameError: ignored

## Join Two Tuples

To join two or more tuples you can use the + operator:

In [96]:
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

## The tuple() Constructor

It is also possible to use the `tuple()`constructor to make a tuple.

In [98]:
thistuple = tuple(("apple", "banana", "cherry")) # note the double round-brackets
print(thistuple)
print (type(thistuple))

('apple', 'banana', 'cherry')
<class 'tuple'>

## Tuple Methods


Python has two built-in methods that you can use on tuples.
Method 	Description

* `count()`	Returns the number of times a specified value occurs in a tuple

* `index()`	Searches the tuple for a specified value and returns the position of where it was found

# Python Dictionaries
A dictionary is a collection which is unordered, changeable and indexed. In Python dictionaries are written with curly brackets, and they have keys and values.

## Create and print a dictionary:

In [99]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

##Accessing Items

You can access the items of a dictionary by referring to its key name, inside square brackets:

In [102]:
 x = thisdict["model"]
 print(x)

Mustang

There is also a method called get() that will give you the same result:

In [104]:
 x = thisdict.get("model")
 print(x)

Mustang

## Change Values
You can change the value of a specific item by referring to its key name:

In [109]:
#Change the "year" to 2018:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["year"] = 2018
print(thisdict.get("year"))
print(thisdict)

2018
{'brand': 'Ford', 'model': 'Mustang', 'year': 2018}

## Loop Through a Dictionary
You can loop through a dictionary by using a `for` loop.

When looping through a dictionary, the return value are the **keys** of the dictionary, but there are methods to return the values as well

In [113]:
# Returning keys
for x in thisdict:
  print(x);

brand
model
year

**Print all values in the dictionary, one by one:**

In [112]:
for x in thisdict:
  print(thisdict[x]);

Ford
Mustang
2018

You can also use the `values()` method to **return values of a dictionary**:

In [114]:
for x in thisdict.values():
  print(x)

Ford
Mustang
2018

Loop through **both keys and values**, by using the `items()` method:

In [0]:
for x, y in thisdict.items():
  print(x, y)

## Check if Key Exists
To determine if a specified key is present `in` a dictionary use the in keyword:

In [119]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
if "model" in thisdict:
  print("Yes, 'model' is one of the keys in the thisdict dictionary")

Yes, 'model' is one of the keys in the thisdict dictionary

## Dictionary Length
To determine how many items (key-value pairs) a dictionary has, use the `len()` function.

In [120]:
 print(len(thisdict))

3

## Adding Items
Adding an item to the dictionary is done by using a new index key and assigning a value to it:

In [122]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["color"] = "red"
print(thisdict)
print(len(thisdict))

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}
4

## Removing Items
There are several methods to remove items from a dictionary:

The `pop()` method removes the item with the specified key name:

In [123]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.pop("model")
print(thisdict)

{'brand': 'Ford', 'year': 1964}

The `popitem()` method removes the **last inserted item** (in versions before 3.7, a random item is removed instead):

In [124]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.popitem()
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang'}

The `del` keyword removes the item with the specified key name:

In [125]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
del thisdict["model"]
print(thisdict)

{'brand': 'Ford', 'year': 1964}

The `clear()` method empties the dictionary:

In [126]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.clear()
print(thisdict)

{}

## Copy a Dictionary
You cannot copy a dictionary simply by typing `dict2 = dict1`, because: `dict2` will only be a reference to `dict1`, and **changes made in dict1 will automatically also be made in dict2**.

There are ways to make a copy, one way is to use the built-in Dictionary method `copy()`.

In [128]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
mydict = thisdict.copy()
print(thisdict)
print(mydict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}
{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

Another way to make a copy is to use the built-in function `dict()`.

In [129]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
mydict = dict(thisdict)
print(mydict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

## Nested Dictionaries
A dictionary can also contain many dictionaries, this is called nested dictionaries.

In [0]:
myfamily = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}

## The dict() Constructor
It is also possible to use the `dict()` constructor to make a new dictionary:

In [131]:
thisdict = dict(brand="Ford", model="Mustang", year=1964)
# note that keywords are not string literals
# note the use of equals rather than colon for the assignment
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

## Dictionary Methods

Python has a set of built-in methods that you can use on dictionaries.

* `clear()`	Removes all the elements from the dictionary
* `copy()`	Returns a copy of the dictionary
* `fromkeys()`	Returns a dictionary with the specified keys and value
* `get()`	Returns the value of the specified key
* `items()`	Returns a list containing a tuple for each key value pair
* `keys()`	Returns a list containing the dictionary's keys
* `pop()`	Removes the element with the specified key
* `popitem()`	Removes the last inserted key-value pair
* `setdefault()`	Returns the value of the specified key. If the key does not exist: insert the key, with the specified value
* `update()`	Updates the dictionary with the specified key-value pairs
* `values()`	Returns a list of all the values in the dictionary